@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:ital,wght@0,300;0,400;1,300;1,400&family=Prata&display=swap');

.accordion-item:first-of-type .accordion-button {
  background-color: #CACACA3D;
  color: #000;
}

/* .main-child {
  width: 82%;
} */

.main-child-row {
  padding-top: 20px;
  box-shadow: 0 4px 9px -4px rgba(0, 0, 0, 0.3);
  height: 202px;
  width: 852px;
  border-radius: 10px;
  border: 1px solid #E8E8E8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;

}

.main-child-row-2 {
  padding-top: 20px;
  box-shadow: 0 4px 9px -4px rgba(0, 0, 0, 0.3);
  height: 202px;
  width: 852px;
  border-radius: 10px;
  border: 1px solid #E8E8E8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.left-child img {
  width: 150px;
  padding: 0;
  margin-left: 20px;
}

.Right-child h6 {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding-top: 8px;
}

.Right-child p {
  padding-top: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  width: 90%;
  color: #737373;
}

.raised-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.raised-section h4 {
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  color: var(--main-color);
}

.raised-section h3 {
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
  color: var(--main-color);

}

.raised-section span {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  color: black;
}

.progress-bar-1 {
  width: 80%;
  height: 10px;
}


.btn-view {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 30px 0;
}

.btn-view button {
  width: 166px;
  height: 51px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  color: var(--main-color2);
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
}

/* --------MediaQuery------- */

@media screen and (max-width: 568px) {

  .main-child {
    width: 100%;
    margin-top: 40px
  }

  .main-child-row {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .main-child-row-2 {
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .left-child {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .left-child img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .Right-child {
    padding: 0 4px;
  }

  .Right-child h6 {
    font-size: 18px;
    padding-top: 25px;
    line-height: 28px;
  }

  .Right-child p {
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    padding: 0;
    margin: 0;
  }

  .raised-section {
    width: 100%;
    padding: 10px 5px 0 5px;
  }

  .raised-section span {
    font-size: 14px;
  }

  .raised-section h4 {
    font-size: 16px;
  }

  .raised-section h3 {
    font-size: 16px;
  }

  .progress-bar-1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .btn-view {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 10px;
  }

  .btn-view button {
    width: 135px;
    height: 45px;
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    color: var(--main-color2);
    background-color: var(--main-color);
    border: none;
  }
}