/* -------TopHeaderSection---------- */

.dashboard {
    margin: 50px -5px;
    list-style: none;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--main-color2);
    box-shadow: 0px 10px 25px rgba(33, 52, 48, 0.08);
}

.listDash {
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 20px 25px rgba(76, 103, 100, 0.1);
}

.listDash li {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
}

.listDash li:nth-child(4) {
    padding-left: 20px;
    color: #e99e01;
}

.linkItem2 {
    text-decoration: none;
    color: #000000;
    padding: 15px 31px;
    width: 100%;
}

.linkItem2.active {
    padding: 15px 31px;
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
}

.edit-fund button {
    width: 170px;
    height: 50px;
    margin: 50px 0;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #e99e01;
    border: none;
    color: var(--main-color2);
}