@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #009368;
  --main-color2: #ffffff;
}

/* ------Top-strip-Nav------ */

.top-strip {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--main-color);
  height: 30px;
  padding: 0 100px;
}

.top-strip-connect {
  color: var(--main-color2);
  text-decoration: none;
  padding: 15px;
}

.left span {
  font-size: 11px;
  padding: 10px 0;
}

.right a {
  font-size: 12px;
  color: var(--main-color2);
  padding: 10px 8px;
}

.right a:hover {
  color: chocolate;
}

/* ----Navbar----- */

.NavFont {
  font-weight: 500;
  color: var(--main-color2);
  padding-right: 60px;
}

.NavbarMAin {
  background: #004E37;
}

.logo-link {
  font-family: Inter;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--main-color2);
  text-decoration: none;
}

.logo-link:hover {
  color: var(--main-color2);
}

.btn-donate {
  width: 100px;
  font-family: Inter;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
  border: 1px solid;
  background-color: transparent;
}

.btn-donate:hover {
  color: rgb(240, 226, 75);
  border: 1px solid var(--main-color2);
  background-color: #004E37;
}

.btn-donate:active {
  border: 1px solid var(--main-color2) !important;
  background-color: #004E37 !important;
}

/* -------listNav------- */

.link-nav {
  color: var(--main-color2);
  text-decoration: none;
  font-size: 12px;
  padding: 15px;
}

.link-nav:hover {
  color: rgb(240, 226, 75);
  padding: 15px;
}

.listNav ul {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  text-decoration: none;
  list-style: none;
}

.listNav li {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

hr {
  margin-left: 6%;
  width: 95%;
}

.dropDownMain {
  position: relative;
}

.dropDownMain ul.toggleDropdown {
  display: none;
  width: 200px;
  top: 40px;
  z-index: 4;
  padding: 10px 0;
  list-style: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
}

.dropDownMain ul.toggleDropdown .linkItem {
  text-decoration: none;
}

.dropDownMain ul.toggleDropdown li {
  padding: 8px 10px;
  text-transform: capitalize;
  color: #000;
}

.dropDownMain ul.toggleDropdown li:hover {
  background-color: #e4e4e4;
}

.dropDownMain:hover ul.toggleDropdown {
  display: block;
}

/* ---------Media query--------- */

@media screen and (max-width: 568px) {
  .top-strip {
    display: none;
  }

  .dropDownMain ul.toggleDropdown {
    z-index: 4;
  }

  .btn-donate {
    background-color: transparent;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 3px;
  }

  .btn-donate:hover {
    background-color: var(--main-color);
    color: var(--main-color2);
  }

  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    z-index: 2;
  }
}