.settingSection {
  margin: 25px 0 0;
}

.settingSection h3 {
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  padding: 0;
}

.settingSection h4 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}

.settingSection p {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  padding: 15px 25px;
  margin: 0;
}

.curreny-section {
  width: 240px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
}

.curreny-section p {
  font-family: Inter;
  font-size: 15px;
  font-weight: 600;
}

#dropoption2 {
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  border: none;
  color: #000;
  text-align: center;
  margin-right: 30px;
  outline: none;
  background-color: #fff;
}

.endSection {
  display: flex;
  position: relative;
  margin: 20px 0px;
  border-radius: 10px;
  justify-content: space-between;
  border: 1px solid #d9d9d9;

  & p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 19px;
    margin: 0;
  }

  & span {
    position: absolute;
    top: 40px;
    left: 18px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
  }

  & button {
    height: 45px;
    width: 180px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin: 16px 20px;
    text-align: center;
    color: var(--main-color2);
    background-color: rgba(255, 0, 0, 0.69);
  }
}

/* -------MediaQuery--------- */

@media screen and (max-width: 568px) {
  .endSection button {
    width: 95%;
    height: auto;
    padding: 10px 0;
    margin: 20px auto 15px;
  }
}