.footer-section {
    width: 100%;
    height: 300px;
    background: #004E37;
    margin-top: 50px;
}


/* -----------footer-1--------- */
.footer-1 {
    padding-left: 30px;
}

.footer-1 h6 {
    color: var(--main-color2);
    padding-top: 20px;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
}

.footer-1 p {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    color: var(--main-color2);
}

.media-icon {
    margin: 5px;
    cursor: pointer;
    color: var(--main-color2);
}

.media-icon:hover {
    color: #ff9706;
}

/* -----------footer-2--------- */

.footer-2 {
    padding-left: 50px;
}

.footer-2 p {
    color: var(--main-color2);
    padding: 20px 0 0 28px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
}

.footer-2 ul li {
    padding: 0;
    font-family: Poppins;
    list-style: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    cursor: pointer;
    color: var(--main-color2);
}

.footer-2 ul li:hover {
    color: #ff9706;
}

/* -----------footer-3--------- */

.footer-3 {
    padding-left: 20px;
}

.footer-3 h6 {
    padding-top: 20px;
    color: var(--main-color2);
}

.footer-3 span {
    color: #06FFB7;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 0;
}

.footer-3 p {
    padding-left: 40px;
    color: var(--main-color2);
    font-family: Poppins;
    font-size: 11px;
    font-weight: 500;
    margin: -5px 0 0 0;
}

/* -----------footer-4--------- */
.footer-4 {
    padding-right: 20px;
}

.footer-4 h6 {
    color: var(--main-color2);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    padding-top: 20px;
}

.footer-4 p {
    font-family: Poppins;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    color: var(--main-color2);
    width: 231px;
}

.footer-4 input {
    width: 140px;
    height: 43px;
    border: none;
    padding: 5px;
    outline: none;
    border-radius: 3px;
}

.btn-send {
    width: 84px;
    height: 43px;
    font-size: 12px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    background-color: #ff9706;
}

.footer-strip {
    width: 100%;
    height: 52px;
    background: #00A978;
}

.footer-strip p {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: white;
    padding-top: 15px;
}

/* ---------Media query--------- */

@media screen and (max-width: 568px) {

    .footer-section {
        height: 100%;
        width: 100%;
        margin-bottom: 0;
    }

    .footer-1 {
        padding: 0;
    }

    .footer-1 h6 {
        font-size: 20px;
    }

    .footer-1 p {
        width: 282px;
        font-size: 10px;
        padding: 0;
        margin-bottom: 0;
    }

    .media-icon {
        padding: 0;
        margin: 0;
    }

    .media-icon:hover {
        color: orangered;
    }

    /* -----------footer-2--------- */

    .footer-2 {
        padding: 0;
    }

    .footer-2 p {
        font-size: 15px;
        padding-left: 0;
        margin: 0;
    }

    .footer-2 ul {
        padding: 0;
    }

    .footer-2 ul li {
        font-size: 10px;
        cursor: pointer;
    }

    .footer-2 ul li:hover {
        color: #ff9706;
    }

    /* -----------footer-3--------- */

    .footer-3 {
        padding-left: 0;
    }

    .footer-3 h6 {
        margin: 0;
    }

    /* -----------footer-4--------- */
    .footer-4 {
        padding-right: 0;
    }

    .footer-4 h6 {
        font-size: 1rem;
    }

    .btn-inp {
        margin-bottom: 20px;
    }

    .footer-strip {
        width: 100%;
    }

    .footer-strip p {
        text-align: center;
    }

}